In [ ]:
# Import pandas module and overall setup
import pandas as pd

# Store filepath in a variable
school_data_upload = "Resources/schools_complete.csv"
student_data_upload = "Resources/students_complete.csv"

# Read School and Student data File and store into Panda DataFrames
school_data_df = pd.read_csv(school_data_upload)
student_data_df = pd.read_csv(student_data_upload)

# Merge DataFrames into a single dataset using a left join
merged_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])                             
merged_df

In [ ]:
reduced_df = merged_df[["student_name", "grade", "school_name", "reading_score", "math_score", "type", "size", 
                        "budget"]]
reduced_df

In [24]:
renamed_df = reduced_df.rename(columns={"student_name" : "STUDENT NAME",
                                        "grade" : "GRADE",
                                        "school_name" : "SCHOOL NAME",
                                        "reading_score" : "READING SCORE",
                                        "math_score" : "MATH SCORE",
                                        "type" : "SCHOOL TYPE",
                                        "size" : "SCHOOL SIZE",
                                        "budget" : "SCHOOL BUDGET", })
renamed_df

,STUDENT NAME,GRADE,SCHOOL NAME,READING SCORE,MATH SCORE,SCHOOL TYPE,SCHOOL SIZE,SCHOOL BUDGET
0,Paul Bradley,9th,Huang High School,66,79,District,2917,1910635
1,Victor Smith,12th,Huang High School,94,61,District,2917,1910635
2,Kevin Rodriguez,12th,Huang High School,90,60,District,2917,1910635
3,Dr. Richard Scott,12th,Huang High School,67,58,District,2917,1910635
4,Bonnie Ray,9th,Huang High School,97,84,District,2917,1910635
...,...,...,...,...,...,...,...,...
39165,Donna Howard,12th,Thomas High School,99,90,Charter,1635,1043130
39166,Dawn Bell,10th,Thomas High School,95,70,Charter,1635,1043130
39167,Rebecca Tanner,9th,Thomas High School,73,84,Charter,1635,1043130
39168,Desiree Kidd,10th,Thomas High School,99,90,Charter,1635,1043130
39169,Carolyn Jackson,11th,Thomas High School,95,75,Charter,1635,1043130

In [27]:
# Calculate the number of students
Total_Schools = len(renamed_df["SCHOOL NAME"].unique())

# Calculate the total schools
Total_Students = len(renamed_df["STUDENT NAME"].unique())

# Calculate Total Budget 
Total_School_Budget = renamed_df["SCHOOL BUDGET"].sum()

# Calculate average Math Score
Average_Math_Score = renamed_df["MATH SCORE"].mean()

# Calculate average Reading Score
Average_Reading_Score = renamed_df["READING SCORE"].mean()

In [32]:
# Place all the Data into a summary dataframe
summary_df = pd.DataFrame({ "Total Schools" : [Total_Schools],
                            "Total Students" : [Total_Students],
                            "Total Budget" : [Total_School_Budget],
                            "Average Math Score" : [Average_Math_Score],
                            "Average Reading Score" : [Average_Reading_Score]})
summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score
0,15,32715,82932329558,78.985371,81.87784